
@font-face {
    font-family: "Android Euclid";
    src: url(/assets/AndroidEuclid.woff2);
}

p, a, button, li {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, h1 *, h2 *, h3 *, h4 *, h5 *, h6 *{
    font-family: "Android Euclid", 'Rubik', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 3.3125rem;
    line-height: 1.15em;
}

h2 {
    font-size: 2.25rem;
    line-height: 1.5em;
}

h3 {
    font-size: 1.5625rem;
    line-height: 1.4em;
}

code {
    font-family: 'Share Tech Mono', monospace;
}

pre::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

pre {
    border-left: 2px solid teal;
    padding-left: 4px;
}

pre {
    overflow-x: scroll;
    max-width: 100%;
}

.highlight {
    margin: 0px;
}