
h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 3.3125rem;
    line-height: 1.15em;
}

h2 {
    font-size: 2.25rem;
    line-height: 1.5em;
}

h3 {
    font-size: 1.5625rem;
    line-height: 1.4em;
}