@import "fonts.css";
@import "navbar.css";
@import "icons.css";
@import "fruity.css";

body {
    padding: 0px;
    margin: 0px;
    background-color: #121212;
    color: white;
}

#page-title {
    background-color: #03DAC6;
    color: white;
    margin-left: -32px;
    margin-right: -32px;
    padding: 32px;
}

#page-content {
    padding-left: 32px;
    padding-right: 32px;
}

a:link, a:visited {
    color: #03DAC6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

* {
    max-width: 100vw;
}

html, body {
    width: 100%;
    /*overflow-x: hidden;*/
}

#main-site-title {
    width: 100vw;

    height: calc(100vh - 56px);
    margin-left: -32px;
    margin-top: -53px;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    transition: background 1s ease-in-out 200ms;
    -webkit-transition: background 1s ease-in-out 200ms;
    -moz-transition: background 1s ease-in-out 200ms;
    -o-transition: background 1s ease-in-out 200ms;
    
}

#main-site-title h1 {
    text-align: center;
    vertical-align: middle;
    line-height: calc(100vh - 56px);
    font-weight: bolder;
    font-style: italic;
    font-family: "Android Euclid";
    font-size: 4em;
}

.inline-icon {
    vertical-align: text-bottom;
    padding-left: 2px;
    padding-right: 2px;
}

.home-section {
    margin-left: -32px;
    margin-right: -32px;
    padding: 32px;
    overflow: auto;
}

.home-section.teal {
    background-color: #03DAC6;
}

.home-section.grey {
    background-color: #424242;
}

.section-text, .section-image {
    width: 45%;
    margin: 0px !important;
}

.section-image {
    height: 17.7%;
}

@media screen and (max-width: 620px){
    .section-image, .section-text {
        width: 100%;
        float: none !important;
    }
}

.social-icons-container {
    float: left;
    width: 100%;
}

button {
    background-color: #03DAC6;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

#down-icon {
    float: left;
    font-size: 48px;
    width: 100%;
    top: calc(100vh - 112px);
    position: relative;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
}

#post-banner-image {
    display: inline;
    float: right;
    width: 50%;
    height: fit-content;
    object-fit: cover;
    margin: -32px;
    height: 0px;
}

#page-title-text {
    width: 50%;
    display: inline-block;
}

@media screen and (max-width: 450px) {
    #page-title-text, #post-banner-image {
        width: 100%;
        margin-top: 8px;
        float: none;
    }

    #post-banner-image {
        width: 100vw;
    }
}

#page-content {
    max-width: 100vw;
    overflow-x: hidden;
}

.project-card {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    background-color: #424242;
    padding: 16px;
    display: inline-block;
    margin: 8px;
    border-radius: 2px;
    max-width: 40%;
    vertical-align: top;
}

.project-card h2 {
    margin: 0px;
}

@media screen and (max-width: 600px) {
    .project-card {
        max-width: 100%;
    }
}