nav {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 56px;
    width: 100%;
    background-color: #424242;
    color: var(--main-bg-color);
    z-index: 1;
}

nav * {
    display: inline-block;
    vertical-align: middle;
}

.nav-link {
    text-decoration: none;
    color: #03DAC6 !important;
    padding-right: 8px;
}

.nav-link:hover {
    color: white !important;
    text-decoration: none;
}

#nav-link-container {
    float: right;
}

#nav-logo{
    text-align: left;
}

#nav-logo-container {
    width: 220px;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 450px) {
    .nav-link {
        display: none;
    }

    #nav-menu-icon {
        display: inline-block !important;
    }
}

.nav-icon {
    color: #03DAC6 !important;
    line-height: 56px !important;
    padding-right: 16px;
    text-align: right;
    display: inline-block;
    transition: all ease-in-out .2s;
    transform-origin: 12px 28px;
}

#nav-menu-icon {
    display: none;
}

#nav-menu {
    background-color: #424242;
    height: 100%;
    position: fixed;
    right: -230px;
    width: 230px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    transition-timing-function: ease-in-out;
    transition: right .5s;
    z-index: 2;
}

.nav-menu-link {
    text-decoration: none;
    color: #03DAC6 !important;
    padding-left: 32px;
    font-size: larger;
}

hr {
    width: calc(100% - 30px);
    border: .1px solid #e5e5e533;
}

#nav-menu-list {
    padding-left: 0;
    list-style-type: none;
}

#nav-close-detector {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: black;
    opacity: 0%;
    transition: all .5s;
}