<!DOCTYPE html>

<head>
    <title>Pr0x1mas - {{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | relative_url }}">
    <link id="themeLink" rel="stylesheet" type="text/css" href="{{ '/css/coloursDark.css' | relative_url }}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to the official site of Pr0x1mas! Here you can find links to my various projects.">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="google-site-verification" content="-yisyKJA-w8sOEzNFbiEG_GfjGpD2bzAeSOEGMv0hB8" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/androidstudio.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script>//hljs.highlightAll();</script>
</head>