<!doctype html>
<html lang="en">
  
  <head>
    
	<meta charset="utf-8">
    
	<title>{{ page.title }}</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="https://unpkg.com/primer/build/build.css" rel="stylesheet">
	<script src="https://code.iconify.design/1/1.0.2/iconify.min.js"></script>	

	</head>
	
	<body>
		<nav class="UnderlineNav bg-gray-dark">
			<div style="color: #c8e1ff;" class="UnderlineNav-body px-3">
				<a style="color: #c8e1ff;" href="/" role="tab" title="Home" class="UnderlineNav-item">Home</a>
				<a style="color: #c8e1ff;" href="/Projects" role="tab" title="Projects" class="UnderlineNav-item">Projects</a>
				<a style="color: #c8e1ff;" href="/About" role="tab" title="About" class="UnderlineNav-item">About</a>
				<a style="color: #c8e1ff;" href="/blog" role="tab" title="Blog" class="UnderlineNav-item">Blog</a>
			</div>
		</nav>
	</body>
</html>