<nav>
    <div id="navbar-container">
            <img id="nav-logo" src="/../assets/logobanner.svg">

        <div id="nav-link-container">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/projects">Projects</a>
            <a class="nav-link" href="/blog">Blog</a>

            <span id="nav-menu-icon" onclick="toggleNav()" class="material-icons-round md-24">
                menu
            </span>
        </div>
        
    </div>
</nav>

<div id="nav-menu">
    <ul id="nav-menu-list">
        <li><a class="nav-menu-link" href="/">Home</a><hr></li>
        <li><a class="nav-menu-link" href="/projects">Projects</a><hr></li>
        <li><a class="nav-menu-link" href="/blog">Blog</a><hr></li>
    </ul>
</div>

<div onclick="toggleNav()" id="nav-close-detector"></div>

<script>
        var navOpen = false;

        function toggleNav(){
            if (navOpen == false) {
                navOpen = true;
                document.getElementById("nav-menu").style.right = "0px";
                document.getElementById("nav-close-detector").style.display = "block";
                document.getElementById("nav-close-detector").style.opacity = "25%";
                document.getElementById("nav-menu-icon").style.transform = "rotate(90deg)"
            } else {
                navOpen = false;
                document.getElementById("nav-menu").style.right = -document.getElementById("nav-menu").offsetWidth;
                document.getElementById("nav-close-detector").style.display = "none";
                document.getElementById("nav-close-detector").style.opacity = "0%";
                document.getElementById("nav-menu-icon").style.transform = "rotate(0deg)"
            }
        }
</script>
