body {
    margin: 0px;
    transition: all 0.5s ease-in-out;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.parralax-background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    padding: 3em;
}

.half-width-image {
    width: 50%;
    height: auto;
    float: right;
    position: relative;
    clear: both;
}

.youtube-video-text {
    float: left; width: calc(100% - 580px);
}

@media screen and (max-width: 600px) {
    .youtube-video-text {
        width: 100%;
        float: none;
    }

}