nav {
    background-color: #333;
    
    overflow: hidden;
    
    position: fixed;

    width: 100%;

    z-index: 99999;
}

nav svg, a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    fill: #FFFFFF;
    transition: color 0.2s ease-in-out;
    transition: fill 0.2s ease-in-out;
}

nav a:hover {
    color: #68FE9A;
    text-decoration: none;
    cursor: pointer;
}

nav svg:hover {
    fill: #68FE9A;
    cursor: pointer;
}

nav i {
    display: none !important;
}


/* @media screen and (max-width: 600px) {
    i {
        float: right;
        display: block !important;

        color: #FFFFFF;
        text-align: center;
        padding: 14px 16px;
    }

    nav a {
        display: none;
    }

    .navOpen i {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navOpen a {
        float: none;
        display: block;
        text-align: left;
	    height: auto;
    }

    .navOpen svg {
        width: 100%;
        text-align: left;
        float: left;
    }
} */