@import url('https://fonts.googleapis.com/css?family=Assistant:700|Open+Sans&display=swap');

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
	font-family: 'Assistant', sans-serif;
}

a {
	text-decoration: none;
}

a:link:not(.navlink .icon) {
	color: black;
	text-decoration: none;
}

a:visited:not(.navlink .icon) {
	color: black;
	text-decoration: none;
}

a:hover:not(.navlink .icon) {
	color: black;
	text-decoration: underline;
}

button {
	background-color: #333;
	color: #FFFFFF;
	border-radius: 2px;
	border: 2px solid #333;
	padding: 5px 5px;
	font-family: 'Open Sans', sans-serif;
	transition-duration: 0.4s;
}

button:hover {
	background-color: #FFFFFF;
	color: #333;
}