---
---

@import "jekyll-theme-primer";

/*! CSS Used from: https://primer-css-kjlrzmkmbk.now.sh/_next/static/css/styles.408bbf33.chunk.css */
a{background-color:transparent;}
a:active,a:hover{outline-width:0;}
::-webkit-input-placeholder{color:inherit;opacity:0.54;}
*{box-sizing:border-box;}
a{color:#0366d6;text-decoration:none;}
a:hover{text-decoration:underline;}
button{position:relative;display:inline-block;padding:6px 12px;font-size:14px;font-weight:600;line-height:20px;white-space:nowrap;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-repeat:repeat-x;background-position:-1px -1px;background-size:110% 110%;border:1px solid rgba(27,31,35,0.2);border-radius:0.25em;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
button:hover{text-decoration:none;background-repeat:repeat-x;}
button:focus{outline:0;}
button:disabled{cursor:default;background-position:0 0;}
button:active{background-image:none;}
button{color:#24292e;background-color:#eff3f6;background-image:linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);}
button:focus{box-shadow:0 0 0 0.2em rgba(3,102,214,0.3);}
button:hover{background-color:#e6ebf1;background-image:linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);background-position:-0.5em;border-color:rgba(27,31,35,0.35);}
button:active{background-color:#e9ecef;background-image:none;border-color:rgba(27,31,35,0.35);box-shadow:inset 0 0.15em 0.3em rgba(27,31,35,0.15);}
button:disabled{color:rgba(36,41,46,0.4);background-color:#eff3f6;background-image:none;border-color:rgba(27,31,35,0.2);box-shadow:none;}
::-webkit-input-placeholder{color:#6a737d;}
:-ms-input-placeholder{color:#6a737d;}
::-ms-input-placeholder{color:#6a737d;}
::placeholder{color:#6a737d;}