<!doctype html>
<html lang="en">
  
	<head>
    
		<meta charset="utf-8">
    
		<title>{{ page.title }}</title>
	
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<link href="https://unpkg.com/primer/build/build.css" rel="stylesheet">
		<script src="https://code.iconify.design/1/1.0.2/iconify.min.js"></script>	

		<style>
			.page-header {
				width: 100%; bg-color: #24292e; color: #0366d6;
			}
		</style>

	</head>
	
	<body>
	
		<header>
			
			{% include navbar.html %}
			
			<div class="page-header">
				<h1 style="" class="px-3 header">{{ page.title }}</h1>
			</div>
			
		</header>
		
		<section class="p-4">
			{{ content }}
		</section>

	</body>
	
</html>